<!--<a href="staticpages/help">Help</a>
<a href="staticpages/about">About</a>
<a href="staticpages/contact">Contact</a>
<h1>Sample App</h1>
<p>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>


<p>
  This class is  <%= self.class %>
</p>
<p>
  Superclass of this class is  <%= self.class.superclass %> 
</p>
<p>
  which is inherited from <%= self.class.superclass.superclass %> 
</p>-->

<div class="center jumbotron">
<h1>Welcome to the Sample App</h1>
<h2>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>

